In [2]:
#Import necessary libraries

import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#Import the Nobel Prize dataset
nobel = pd.read_csv(r'C:\Users\Pedro\OneDrive\Documents\Github\nobel_prize_analysis\data\raw\nobel.csv')

In [4]:
#print the first few rows of the dataset
print("First few rows of the Nobel Prize dataset:")
nobel.head()

First few rows of the Nobel Prize dataset:

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany
3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France

In [5]:
#Print the shape of the dataset
print("\nShape of the Nobel Prize dataset:")
nobel.shape

Shape of the Nobel Prize dataset:

(911, 18)

In [7]:
nobel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 911 entries, 0 to 910
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  911 non-null    int64
 1   category              911 non-null    object
 2   prize                 911 non-null    object
 3   motivation            823 non-null    object
 4   prize_share           911 non-null    object
 5   laureate_id           911 non-null    int64
 6   laureate_type         911 non-null    object
 7   full_name             911 non-null    object
 8   birth_date            883 non-null    object
 9   birth_city            883 non-null    object
 10  birth_country         885 non-null    object
 11  sex                   885 non-null    object
 12  organization_name     665 non-null    object
 13  organization_city     667 non-null    object
 14  organization_country  667 non-null    object
 15  death_date            593 non-null    object
 16  death_city            576 non-null    object
 17  death_country         582 non-null    object
dtypes: int64(2), object(16)
memory usage: 128.2+ KB

In [12]:
# Convert date columns to datetime objects ---
print("\n--- Converting date columns to datetime ---")

# Columns to convert
date_cols = ['birth_date', 'death_date']

for col in date_cols:
    if col in nobel.columns:
        # Use errors='coerce' to turn unparseable dates into NaT (Not a Time)
        # This is robust for messy date strings
        nobel[col] = pd.to_datetime(nobel[col], errors='coerce')
        print(f"'{col}' converted to datetime.")
    else:
        print(f"Warning: '{col}' not found in DataFrame columns.")

--- Converting date columns to datetime ---
'birth_date' converted to datetime.
'death_date' converted to datetime.